html {
    /* Este selector es para que el scroll se detenga en cada uno de los slides */
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'Montserrat';
}

.slideOne,
.slideTwo,
.slideThree,
.botones {
    /* Tamaño del slide y manejo del scroll */
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    /* Diseño para los slides */
    color: #fff;
    background-size: cover;
    background-position: center;
}

.opacity {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.opacity2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid #0000;
}

.bookInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.suites{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.invitation_heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
  
.invitation_text {
    font-size: 20px;
    margin-bottom: 20px;
}

.botones button {
    margin-bottom: 1.5rem;
    padding: 1rem 5rem;
    border-radius: 1.5rem;
}

.infoText{
    color: #595E63;
    text-align: center;
}

.slideOne {
    background-image: url('../../assets/images/picture6.jpeg');
}

.slideFive {
    background-image: url('../../assets/images/picture7.jpeg');
    background-size: cover;
    background-position: center;
}

.botones {
    background-image: url('../../assets/images/picture16.jpeg');
}